<div class="container-fluid">
  <p class="h3 p-3">{{ animeDetail.name }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ animeDetail.image }}"
          alt="{{ animeDetail.name }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Authors</dt>
        <dd>No available information</dd>
        <dt>caracteristicas</dt>
        <dd>{{ animeDetail.caracteristicas }}</dd>
        <hr />
        <dt>SDescription</dt>
        <dd>{{ animeDetail.descripcion }}</dd>
        <hr />
        
        <hr />
     
        
      </dl>
    </div>
  </div>
 </div>